.shippingContainer{
    width: 100vw;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: flex;
    max-width: 100%;
}

.shippingBox{
    width: 25vw;
    height: 90vh;
    background-color: white;
    overflow: hidden;
    box-sizing: border-box;
}

.shippingHeading{
    text-align: center;
    color: rgba(0,0,0,0.664);
    margin: auto;
    width: 50%;
    font: 400 1.3vmax "Roboto";
    padding: 1.3vmax;
    border-bottom: 1px solid rgba(0,0,0,0.205);
}
.shippingForm{
    display: flex;
    height: 80%;
    transition: all 0.5s;
    justify-content: space-evenly;
    padding: 2vmax;
    margin: auto;
    align-items: center;
    flex-direction: column;
}
.shippingForm>div{
    display: flex;
    width: 100%;
    align-items: center;
}
.shippingForm>div>input,
.shippingForm>div>select{
    padding: 1vmax 4vmax;
    padding-right: 1vmax;
    border: 1px solid rgba(0,0,0,0.67);
    border-radius: 4px;
    font: 300 0.9vmax cursive;
    outline: none;
    box-sizing: border-box;
}

.shippingForm>div>svg{
    position: absolute;
    transform: translate(1vmax);
    font-size: 1.6vmax;
    color: rgba(0,0,0,0.623);
}
.shippingBtn{
    border: none;
    background-color: tomato;
    color: white;
    cursor: pointer;
    transition: all 0.5s;
    outline: none;
    margin: 2vmax;
    padding: 1vmax;
    width: 100%;
    font: 300 1vmax "Roboto";
}

.shippingBtn:hover{
    background-color: rgb(175,66,46);
}